body{
    background: url("imgs/Background.png");
    background-position: center;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

.blurb h2{
    font-weight: 700;
    font-size: 2.5rem;
}

.blurb p{
    font-weight: 100;
    font-size: 1.125rem;
    
}

.content {
    padding-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.125rem;
    font-weight: 100;    
}

#mainNavbar .nav-link{
    
}

#mainNavbar .nav-link:hover{
    /* background: #D7EBFF; */
    color: #2691d4;
}

ul.link-list{
	margin:0;
	padding:0;
	list-style:none;
	float: none;
}

ul.link-list li{
	float: none;
	margin:0;
	padding:2px 0 2px 0;
	list-style:none;
}

.firstGK{
    color: #1582CC;
}

.secondGK{
    color: #FE9940;
}

@media (max-width: 1200px){
    .blurb h2{
        font-size: 2rem;
    }
    .blurb p{
        font-size: 1rem;
        
    }
}
